<h1>NBKR exchange rates</h1>
<table>
  <tr>
    <th>created_date</th>
    <th>currency</th>
    <th>exchange rate</th>
  </tr>

  <% @rates.each do |rate| %>
    <tr>
      <td><%= rate.created_date.strftime('%d.%m.%Y') %></td>
      <td><%= rate.currency %></td>
      <td><%= rate.exchange_rate %></td>
    </tr>
  <% end %>
</table>
